* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 50px 1542px 1029px 50px;
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 2px solid #f00;
  color: #f00;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.button.active {
  background-color: #f00;
  color: white;
}
.heart #count {
  font-weight: 400;
}
.like {
  font-weight: 600;
}
#count {
  color: #000;
}
